<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Secure Shop - Connexion</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div id="topbar"></div>

    <main>
      <section class="hero">
        <div class="container">
          <h1>Connexion</h1>
          <!-- novalidate permet de ne pas valider le form -->
          <form id="login_form" novalidate>
            <!-- email -->
            <label for="email">E-mail</label>
            <input type="text" id="email" value="" />
            <!-- mot de passe -->
            <label for="pwd">Mot de passe</label>
            <input type="password" placeholder="••••••" id="pwd" value="" />
            <!-- submit -->
            <input type="submit" id="submit_btn" onclick="sendData" />
            <!-- Message d'erreur -->
            <p id="errorMessage"></p>
          </form>
        </div>
      </section>
    </main>

    <footer id="contact" class="footer">
      <div class="container">
        <p>Projet pedagogique - ETML 183</p>
      </div>
    </footer>

    <script src="/js/nav.js"></script>
    <script>
      // quand submit -> appelle sendData()
      document
        .getElementById("login_form")
        .addEventListener("submit", sendData);

      function sendData(event) {
        updateError(false);

        //empêche de submit
        event.preventDefault();
        const email = document.getElementById("email").value;
        const password = document.getElementById("pwd").value;

        // envoie le requête
        fetch("/api/auth/login", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ email, password }),
        })
          .then(async (response) => {
            if (response.ok) {
              window.location.href = "/";
            }
          })
          .catch((e) => {
            updateError(true);
          });
      }

      const errorMessage = document.getElementById("errorMessage");
      function updateError(visible) {
        errorMessage.textContent = visible
          ? ""
          : "Cette combinaison d'email et de mot de passe ne correspond à aucun utilisateur";
      }
    </script>
  </body>
</html>
<style>
  #errorMessage {
    color: red;
    text-align: center;
  }
</style>
